/************************** Global **************************/

body,
#element {
    margin: 0 !important;
    min-height: 100vh;
    background-image: url("../img/bg.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-color: #c2d835;
    background-position: top;
    background-size: contain;
    box-sizing: border-box;
}

.bg-darky {
    background: #121714f0;
    border-radius: 31% 31%;
    border: 1px solid #121714db;
    padding: 0.5%;
}

#canvas {
    width: 100%;
}


/************************** Fonts **************************/

@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('../fonts/cartoonist/sf_cartoonist_hand-webfont.eot');
    src: url('../fonts/cartoonist/sf_cartoonist_hand-webfont.woff2') format('woff2'),
        url('../fonts/cartoonist/sf_cartoonist_hand-webfont.woff') format('woff'),
        url('../fonts/cartoonist/sf_cartoonist_hand-webfont.ttf') format('truetype'),
        url('../fonts/cartoonist/sf_cartoonist_hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.cartoon {
    font-family: 'sf_cartoonist_handregular';
}
/************************** Font-sizes **************************/

.fz-170 {font-size: 170%;}
.fz-1rem {font-size: 1vw;}
.fz-1-5rem {font-size: 1.5vw;}
.fz-1-7rem {font-size: 1.7vw;}
.fz-2rem {font-size: 2vw;}
.fz-2-5rem {font-size: 2.5vw;}


/************************** Padding **************************/
.pvw-l-3 {padding-left: 3vw;}
.pvw-l-12 {padding-left: 12vw;}
.pl-5rem {padding-left: 5rem;}
.pl-6vw {padding-left: 6vw;}

.pvw-r-3 {
    /* padding-right: 3vw; */
    max-height: 8%;
    /* border: 1px solid black; */
    top: 12%;
    position: fixed;
    right: 17.5%;
}

.pvw-t-0-5 {padding-top: .5vw;}
.pvw-t-1 {padding-top: 1vw;}
.pvw-t-3 {padding-top: 3vw;}
.pvw-t-2 {padding-top: 1vw;}
.pvw-t-6 {padding-top: 6vw;}

.pad-b-10p {padding-bottom: 10%;}

.pad-y-10p {
    padding-top: 10%;
    padding-bottom: 10%;
}


/************************** Margin **************************/

.ml-4p {margin-left: 4%;}

.mvw-t-1 {margin-top: 1vw !important;}
.mt2-5r {margin-top: 2.5rem;}

.mvw-b-1 {margin-bottom: 1vw !important;}
.mvw-b-3 {margin-bottom: 3vw !important;}
.mb2-2r {margin-bottom: 2.2rem;}
.mb2-5r {margin-bottom: 2.5rem;}

.mvw-y-1 {
    margin-top: 1vw !important;
    margin-bottom: 1vw !important;
}
.mvw-y-2 {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}
.mr-30px{margin-right: 30px !important;}


/************************** Line-height **************************/

.lineHeight-1 {line-height: 1vw !important;}
.lineHeight-1-3 {line-height: 1.3vw;}
.lineHeight-1-5 {line-height: 1.7vw;}
.lineHeight-2-5 {line-height: 2.5vw;}
.lineHeight-4 {line-height: 4vw;}
.lineHeight-5 {line-height: 5vw;}
.lineHeight-6 {line-height: 6vw;}

.flex-no-wrap{flex-wrap: nowrap !important;}

/************************** Icones audio / reglages / aide **************************/

.audio1,
.audio2,
.audio3,
.audio4 {
    width: 50px;
    position: fixed !important;
    filter: brightness(50%);
    filter: opacity(80%);
    bottom: -5px !important;
    z-index: 0;
}

.audio3 {left: 1% !important;}
.audio4 {left: 4.5% !important;}
.audio2 {left: 8% !important;}
.audio1 {left: 11.5% !important;}

.audio1:hover,
.audio2:hover,
.audio3:hover,
.audio4:hover {
    width: 50px;
    filter: brightness(90%);
    filter: opacity(100%);
    position: fixed !important;
    bottom: -5px !important;
}

.lecteur {
    position: fixed;
    bottom: 80px;
    left: 12%;
}


/************************** Container **************************/

.container_principal {
    box-sizing: border-box;
}

.containerLancerJeu {
    width: 100%;
    border-radius: 10px 10px 15px 15px;
    position: fixed;
    bottom: 5%;
}


.containerLevelJeu {
    border-radius: 10px 10px 15px 15px;
}
.jeuLevel {
    -webkit-box-shadow: 14px 2px 124px -21px rgba(109, 156, 7, 0.42);
    -moz-box-shadow: 14px 2px 124px -21px rgba(109, 156, 7, 0.42);
    box-shadow: 14px 2px 124px -21px rgba(109, 156, 7, 0.42);
    display: none;
    z-index: 95;
    width: 70%;
    margin-right: 25% !important;
    cursor: pointer !important;
}


.containerCible {
    position: fixed;
    width: 55%;
    top: 20%;
    right: 15%;
    bottom: 10%;
    background-repeat: no-repeat;
    background-size: contain;
}
.cible {
    position: fixed;
    width: 37%;
    top: 28%;
    bottom: 52%;
    right: 25%;
}


.containerOrigin {
    display: none;
    position: fixed;
    width: 70%;
    right: 13%;
    bottom: 4%;
}
.origin {
    height: 17.5%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 50px 50px 10px 10px;
    background-color: #7d5e07bd;
    z-index: 0;
}


.originFruits {
    height: 26%;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-left: 4%x;
    border-radius: 50px 50px 10px 10px;
    background-color: #7d5e07bd;
    z-index: 0;
}
.panier {
    width: 12vw;
}

.panier-flex {
    flex-wrap: nowrap !important;
}


/************************** Drag & Drop **************************/

.rowFlex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.drop1,
.drop2 {
    width: 3vw;
}

.reussiteCorrespondance_1,
.reussiteCorrespondance_2,
.reussiteCorrespondance_3,
.reussiteCorrespondance_4,
.reussiteCorrespondance_5,
.reussiteCorrespondance_6,
.reussiteCorrespondance_7,
.reussiteCorrespondance_8,
.reussiteCorrespondance_9,
.reussiteCorrespondance_10,
.reussiteCorrespondance_11,
.reussiteCorrespondance_12,
.reussiteCorrespondance_13
{
    padding-left: 15vw;
    display: none;
    color: hsl(125, 86%, 22%);
    font-size: 2vw;
    font-weight: bold;
    z-index: 999;
}


/************************** Affichage Données du joueur **************************/

.nameStyle {
    display: none;
    position: fixed;
    padding: 0 !important;
    top: 20%;
    left: 10%;
    width: 14%;
    background-color: #7db800cc;
    font-weight: 900;
    color: #010146;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #121714db;
    -webkit-box-shadow: 14px 2px 124px -21px rgba(109, 156, 7, 0.42);
    -moz-box-shadow: 14px 2px 124px -21px rgba(109, 156, 7, 0.42);
    box-shadow: 14px 2px 124px -21px rgba(109, 156, 7, 0.42);
}
.color-encart {
    color: #9b0909;
    font-weight: bold;
}
.levelNumber {
    background-color: #121714db;
    font-size: 1.5vw;
    padding: 1vw .3vw;
    margin-bottom: 1.5vw;
    color: #a4c639;
}

/************************** Affichages durant le jeu **************************/

.jeuStart {
    display: none;
    box-shadow: darkgreen;
}
.successLevel {
    width: 100%;
    margin-bottom: 7%;
    margin-right: 25% !important;
    z-index: 90;
}
.text-success {
    display: inline;
}
.score {
    display: none;
    font-size: 2.4vw;
    margin: auto 2% auto 4%;
    background-color: #92c814;
    border-radius: 10px;
    border: 1px solid black;
    -webkit-box-shadow: 6px 7px 19px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 19px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 19px -11px rgba(0, 0, 0, 0.75);
}


/************************** Jeu terminé **************************/

.gameFinished {
    font-size: 1.5vw;
    width: 40%;
    display: none;
    color: #ebebeb;
    background-color: hsl(221, 44%, 41%);
    border-radius: 10px 10px 30px 30px;
    border: 3px solid black;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5%;
    margin-left: 40%;
}
.gameEnd {
    position: fixed;
    bottom: 35%;
    left: 45%;
}


/************************** Fullscreen **************************/
.landscape {
    display: none;
}

.fullScreen {
    display: none;
    width: 2.5rem;
    position: fixed;
    top: 1vw;
    right: 1vw;
}

.iconFull {
    width: 100%;
    padding: .15vw;
    border: .15vw solid black;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.28);
    -moz-box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.28);
    box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.28);
}

.iconFull:hover {
    border-color: .2 solid #120707;

}

#fullScreen:hover {
    background-color: #b5d5deeb;
}


/************************** Divers **************************/

#rectCible {
    background: transparent;
}
#test10 {
    background-color: transparent;
}
.correct {
    box-shadow: inset 0 0 0 15px green;
}
.dropdown-menu {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
.userDetails {
    display: none;
}
select {
    width: 100%;
    padding: 10px 15px;
    border: 1px dashed blue;
    border-radius: 4px;
    background-color: #f4b400;
}
.nameSelect {
    font-weight: bold;
    color: #360202;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}


/*
==========================================
#               RESPONSIVE               #
==========================================
*/

@media (orientation: portrait) {
    body {
        background-image: none !important;
        background-color: grey !important;
    }

    .container_principal {
        display: none;
    }

    .landscape {
        display: initial;

    }

    .txt-land {
        border-radius: 5px;
        padding: 30px;
        width: 80%;
        text-align: left;
        font-weight: 400;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 20%;
    }
}


@media screen and (min-width: 1200px) {
    .successLevel {
        width: 55%;
    }

    .jeuLevel {
        width: 35%;
    }
}


@media screen and (max-width: 1199px) {
    .successLevel {
        width: 50%;
    }

    .jeuLevel {
        width: 30%;
    }
}
