/***** Background *****/

body
{
    background-image: url("/img/bg.png");
    background-repeat: repeat-x;
    background-position: top;
    background-color: #c2d835  ;
    background-attachment: fixed;
}


/***** Fonts *****/

@font-face {
    font-family: 'laikalaika';
    src: url('../fonts/laika-webfont.woff2') format('woff2'),
         url('../fonts/laika-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fz-110p{font-size: 110%;}


/***** Colors *****/

.bg-danger{
    background-color: hsl(350, 96%, 43%);
    border-radius: 5px;
    color: white;
    font-size: 110%;
}

.close:hover{
    color: #fff !important;
}


/***** Style boutons *****/

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 1vh 3vw;
  margin: 0 .7vw .7rem 0;
  float: left;
	border-radius: .7rem;
	font-family: 'Pacifico', cursive;
	font-size: 1rem;
	color: #FFF;
	text-decoration: none !important;
}

.action-button2
{
	padding: 1.2vh 3vw;
	font-family: 'Pacifico', cursive;
	font-size: 1rem;
	text-decoration: none !important;
}

.blue
{
	background-color: #3498DB !important;
	border-bottom: 5px solid #2980B9 !important;
    text-shadow: 0px -2px #2980B9 !important;
    color: white !important;
}

.green
{
	background-color: #82BF56 !important;
	border-bottom: 5px solid #669644 !important;
    text-shadow: 0px -2px #669644 !important;
    color: white !important;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.yellow{
    background-color: #c86219;
    border-bottom: 5px solid #bf5a12;
    text-shadow: 0px -2px #9a490e;
}
.yellow:hover{
	background-color: #f29f64;
	border-bottom: 5px solid #f7a76e;
	text-shadow: 0px -2px #e08442e0;
}


.bord{
    border-radius: 5px;
    opacity: .8;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: .7vh;
    padding-bottom: .7vh;
}

.cookie-banner{
	background-color:  #333;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.cookie-banner .container{
	margin: 0 auto;
	width: 100%;
	color: #f0f0f0;
	padding: 15px;
}


/***** style stars *****/

canvas{ display: block; vertical-align: bottom; }



/* ---- particles.js container ---- */

#particles-js{ position:absolute; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }



/* ---- stats.js ---- */

.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px;
	line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
.js-count-particles{ font-size: 1.1em; }
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; }
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; display: none; }
.count-particles{ border-radius: 0 0 3px 3px; }
